<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="server" value="localhost" />
    <add key="licenseServer" value="localhost:30000" />
    <add key="dbuser" value="sa" />
    <add key="dbpassword" value="Password" />
    <add key="companydb" value="SBODemo" />
    <add key="user" value="rafalr"/>
    <add key="password" value="Password"/>
  </appSettings>
</configuration>